<div class="my-3">
    <h2>Debounce Time & Distinct Until Changed</h2>
    <br>

    <div class="row">
        <div class="col-md-6">
            <strong>Ex - 01 <span class="text-primary">Debounce Time</span></strong>
            <hr>
            <div class="form-group row">
                <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Search...</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control form-control-lg" placeholder="Search..." #input>
                </div>
            </div>
            <span *ngIf="reqdata != null">Requested Data: <strong class="text-success">{{reqdata}}</strong></span>
        </div>

        <div class="col-md-6">
            <strong>Ex - 02 <span class="text-warning">Distinct Until Changed</span></strong>
            <hr>
            <div class="form-group row">
                <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Search...</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control form-control-lg" placeholder="Search..." #input2>
                </div>
            </div>
            <span *ngIf="reqdata2 != null">Requested Data: <strong class="text-success">{{reqdata2}}</strong></span>
        </div>
    </div>
</div>
