<!-- <div *ngIf="loading" class="spinner">
  Loading...
</div> -->
<!-- <mat-spinner class="spinner" *ngIf="loading"></mat-spinner> -->
<!-- <div *ngIf="!loading">
  <p>API 1 Data: {{ api1Data | json }}</p>
  <p>API 2 Data: {{ api2Data | json }}</p>
</div> -->

<!-- <button (click)="api()">response</button> -->
<!-- <div>
  <h1>First Router Outlet:</h1>
  <router-outlet></router-outlet>
</div>

<div>
  <h1>Second Router Outlet:</h1>
  <router-outlet name="secondOutlet"></router-outlet>
</div> -->

<div class="row" style="display: flex;">
  <div class="col-6 cs">Total New Claims <br>
    <span>{{totalSumNewClaims}}</span>
  </div>
  <div class="col-6 css">Total Boosted Claims <br>
    <span>{{totalSumBoostedClaims}}</span>
  </div>
</div>
<router-outlet></router-outlet>